.background {
    background-color: rgb(0, 25, 76);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    width: 80%;
    color: white;
    align-items: center;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
}

.logo {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 20px;
}

.buttons {
    color: white;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10%;
}

a {
    padding: 10px;
}

.subscribe {
    background-color:white;
    color: black;
    border-radius: 20px;
}