.searchField {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.textField {
  margin-top: 15px;
}

.imageField {
  width: 150px;
  height: 150px;
}

.imageField img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.productTiles {
  display:grid;
  grid-template-columns: 300px 300px 300px;
  margin-left: 10%;
  margin-right: 10%;
}

#star {
  color: orange;
  font-size: 15px;
}
