.App {
  background-color: #e9eaed;
}

.newsContent {
  background-color: #e9eaed;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.main {
  flex: 70%;
}

.side {
  background-color: white;
  flex: 30%;
  margin-left: 2%;
}

.sideHeader {
  padding-left: 10%;
}

h2 {
  border-bottom: 1px solid black;
  margin-left: 5px;
  margin-right: 35px;
}

.News {
  margin-bottom: 10px;
}
